@import "bootstrap";
@mixin clearfix {
	zoom:1;
	&:before, &:after {
		content: "\0020"; 
		display: block; 
		height: 0; 
		overflow: hidden; 
	}
	&:after {
		clear: both;
	}
}

.field_with_errors {
	display: inline;
	input[type="text"], textarea, select {
		background-color: #FFD5D5;
		border-color: red;
	}
	input[type="radio"] {
		outline: 1px solid red;
	}
	label {
		color: #7A0000;
		font-weight: bold;
	}
}

input[type="radio"], input[type="checkbox"] {
        vertical-align: top;
}

.checkbox-set {
	min-width: 10em;
	display: inline-block;
	white-space: nowrap
}

.alert { @include clearfix; }

.history-list {
	.note { font-size: 86%; color: #666; width: 45%; }
	.action { white-space: nowrap; }
}
