@import "bootstrap";
@import "bootstrap-responsive";
@mixin clearfix {
	zoom:1;
	&:before, &:after {
		content: "\0020"; 
		display: block; 
		height: 0; 
		overflow: hidden; 
	}
	&:after {
		clear: both;
	}
}

.field_with_errors {
	display: inline;
	/**
	input[type="text"], textarea, select {
		background-color: #FFD5D5;
		border-color: red;
	}
	**/
	input[type="radio"] {
		outline: 1px solid #7A0000;
	}
	label {
		color: #7A0000;
		font-weight: bold;
	}
	@include formFieldState($errorText, $errorText, $errorBackground);
}

input[type="radio"], input[type="checkbox"] {
        vertical-align: top;
}

.checkbox-set {
	min-width: 10em;
	display: inline-block;
	white-space: nowrap
}

.alert { @include clearfix; }

.history-list {
	.note { font-size: 86%; color: #666; width: 45%; }
	.action { white-space: nowrap; }
}

@media (min-width: 979px) {
	#header-placeholder {
		height: 60px;
		width: 100%;
	}
}

.tag-list {
	width: 30%;
	margin-right: 3%;
}

footer {
	border-top: 1px solid #eee;
	margin-top: 2em;
	text-align: center;
	color: #999;
	text-shadow: 0 1px 0 #fff;
}

.ui-widget {
	font-size: 86%;
}
