@import "external_ui_shared";
@charset "utf-8";

@mixin clearfix {
  zoom:1;
  &:before, &:after {
    content: "\0020"; 
    display: block; 
    height: 0; 
    overflow: hidden; 
  }
  &:after {
    clear: both;
  }
}

#VS_detailContainer {
  position: relative;

  .EventDetail {
    margin-bottom: 20px;
    box-shadow: 0px 2px 7px #999;
    position: relative;
  }

  .remote-embed-widget {
    float: right;
  }

  .VCLevent {
    float: none;
    width: 100%;
    padding-left: 0;
    box-shadow: none;
    .body { padding-left: 100px; }
  }

  .description {
    position: relative;
    width: 100%;
    color: #555;
    font-size: 12px;
    line-height: 140%;
    text-shadow: 0px 1px 0px white;
    padding: 0;
    border: 1px solid #777;
    border-radius: 0px 0px 5px 5px;
    background-color: #f0f0f0;
    min-height: 130px;

    a {
      color: #41A587;
      font-weight: bold;
    }

    p {
      padding: 10px 0;
      margin: 0 1em;
    }
  }
}

.VCL_exec_button {
  position: relative; display: inline-block;
  margin: 0; padding: 2px 10px 0 10px;
  height: 28px; line-height: 30px;
  font-size: 14px; color: #666666;
  border: 1px solid #cccccc;
  border-radius: 2px;
  box-shadow: 0px 1px 0px white;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  -webkit-transition: border-color .5s;
  -moz-transition: border-color .5s;
  -o-transition: border-color .5s;
  transition: border-color .5s;
  text-decoration: none;
}
.VCL_exec_button:hover {
  border: 1px solid #aaaaaa;
  box-shadow: 0px 0px 2px #999999;
}
.VCL_exec_button:active {
  border: 1px solid #999999;
  box-shadow: 0px 0px 1px black inset;
}

div#newReleaseBody {
  width: 1200px;
  font-family: sans-serif;
}

h2 {
  margin: 0 0 30px;
  padding: 0 0 0 0px;
  font-size: 32px;
  font-weight: normal;
  color: #666;
  line-height: 100%;
  text-shadow: 0px 1px 0px white;

}

ul {
  list-style: none;
  clear: both;
}

li {
  vertical-align: middle;

}

article#recommends {
  border-bottom: solid 1px #aaaaaa ;
  height: 325px;
}

article#newReleases {
  margin-top: 15px;
}

div.row {
  clear: both;
}

article.release {
  display: block;
  position: relative;
  width: 380px;
  height: 155px;
  margin: 10px 15px 40px 0px;
  float: left;

}

section.releaseInfo {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 14px;
}
section.songInfo {
  position: absolute;
  top: 35px;
  left: 130px;
}

section.thumbnail {
  position: absolute;
  top: 35px;
  left: 0px;
  width: 120px;
  height: 120px;
}

section.releaseInfo ul {
  li {
    display: block;
    height: 16px;
    padding-top: 4px;
  }

  li.date {
    position: absolute;
    width: 140px;
    left: 0;
    background-color: #828282;
    color: #ffffff;
    padding-left: 10px;
    font-weight: bold;

  }

  li.time {
    position: absolute;
    width: 100px;
    left: 155px;
    background-color: #b7b7b7;
    color: #ffffff;
    font-size: 12px;
    padding-left: 5px;
  }

  li.media {
    position: absolute;
    width: 110px;
    left: 265px;
    background-color: #ffffff;
    font-size: 12px;
  }
}


h3.songTitle {
  margin: 5px 0px 0px 0px;
  font-size: 16px;
  a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
  }
  a:link {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
  }
}


section.songInfo ul {
  margin: 2px 0px 2px 0px;
  li {
    display: block;
    float: left;
    margin: 2px 5px 2px 0px;
  }
}


ul.producers li {
  font-size: 12px;
}

ul.vocaloid li {
  padding: 2px 5px 1px 5px;
  background-color:#eeeeee;
  border: 1px solid #aaaaaa;
  color: #999999;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  font-size: 11px;

}

p.description {
  clear: both;
  font-size: 11px;
  padding-top: 5px;
}


article.release.recommend {
  display: block;
  position: relative;
  width: 580px;
  height: 200px;
  float: left;
}

article.recommend {
  h3.songTitle {
    font-size: 18px;
  }

  p.description {
    font-size: 12px;
  }

  section.releaseInfo {
    top: 0px;
    left: 210px;
    font-size: 16px;
  }

  section.songInfo {
    top: 40px;
    left: 220px;
  }

  section.thumbnail {
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
  }

  section.releaseInfo ul {
    li {
      height: 20px;
      padding-top: 5px;
    }

    li.date {
      width: 135px;
      padding-left: 5px;
    }

    li.time {
      width: 100px;
      left: 145px;
      font-size: 12px;
      padding-top: 7px;
      height: 18px;
      padding-left: 5px;
    }

    li.media {
      width: 100px;
      left: 255px;
    }
  }

  ul.producers li {
    font-size: 14px;
  }

  ul.vocaloid li {
    padding: 3px 5px 1px 5px;
    font-size: 12px;

  }
}

.cd-releases {
  width: 100%;
  position: relative;
  overflow-x: auto;
  .month-slot {
    margin: 20px;
    width: 300px;
    height: 100%;
    position: relative;
    display:inline-block;
    a {
      text-decoration: none;
      color: black;
    }
    a:hover {
      text-shadow: 0 1px 1px yellow;
    }
    .item-block {
      background: image-url("cd-title-back.png");
      height: 24px;
      overflow: hidden;
      .item-inner {
	overflow: hidden;
       	margin: 2px 10px;
       	font-size: 12px;
       	line-height: 20px;
      	white-space: nowrap;
       	vertical-align: middle;
       	text-align: center;
      }
    }
    .item-spacer {
      height: 24px;
    }
  }
  .month-marker {
    color: #888;
    text-align: center;
    text-shadow: 0px -1px -1px #4d4d4d;
    text-shadow: 0px 2px 2px #fff;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
  }
}
.cd-navi-marker {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  height: 20px;
  background-color: #ccc;
  color: white;
  color: white;
  padding: 10px;
  text-align: center;
}

